.thread-container {
  border: 1px solid #3E6990;
  background-color: #E9E3B4;
  color: #381D2A;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.thread-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.thread-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.thread-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
  color: #3E6990;
}

.thread-content {
  font-size: 1.3em;
  margin-bottom: 10px;
  line-height: 1.6;
  display: flex;
  justify-content: flex-start;
}

.thread-date, .thread-author {
  font-size: 0.9em;
  color: #381D2A;
  margin-bottom: 5px;
}

.thread-author {
  margin-top: 0px;
}

.thread-rest {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 0px;
  align-items: flex-start;
}

.thread-buttons button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3E6990;
  color: #E9E3B4;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.thread-buttons button:hover {
  background-color: #AABD8C;
  color: #381D2A;
}

.tag {
  background-color: #F39B6D;
  color: #E9E3B4;
  border-radius: 16px;
  padding: 6px 12px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tag:hover {
  background-color: #3E6990;
  color: #E9E3B4;
}

.no-tags {
  color: #381D2A;
  font-style: italic;
}

.thread-tags {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center;
}

.thread-buttons {
  margin-top: 15px; 
  display: flex;
  gap: 10px; 
  justify-content: flex-end;
}
